absl-py==2.5.0
anyio==4.15.1
av==18.1.0
babel==2.18.0
boto3==1.43.89
botocore==1.43.89
certifi==2026.7.22
charset-normalizer==3.5.1
click==8.5.0
cloudpickle==3.1.2
contourpy==1.3.3
cuda-bindings==13.3.1
cuda-pathfinder==1.8.1
cuda-toolkit==13.0.3.0
cycler==0.12.1
filelock==3.32.5
fonttools==4.64.0
fsspec==2026.7.0
fvcore==0.1.5.post20221221
google-measurement-protocol==1.1.0
grpcio==1.83.1
h11==0.16.0
hf-xet==1.6.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.30.0
idna==3.19
iopath==0.1.10
Jinja2==3.1.6
jmespath==1.1.0
kiwisolver==1.5.1
Markdown==3.10.3
MarkupSafe==3.0.3
matplotlib==3.11.1
mpmath==1.3.0
networkx==3.6.1
numpy==2.5.3
nvidia-cublas==13.1.1.3
nvidia-cuda-cupti==13.0.85
nvidia-cuda-nvrtc==13.0.88
nvidia-cuda-runtime==13.0.96
nvidia-cudnn-cu13==9.24.0.43
nvidia-cufft==12.0.0.61
nvidia-cufile==1.15.1.6
nvidia-curand==10.4.0.35
nvidia-cusolver==12.0.4.66
nvidia-cusparse==12.6.3.3
nvidia-cusparselt-cu13==0.8.1
nvidia-ml-py==13.610.43
nvidia-nccl-cu13==2.30.7
nvidia-nvjitlink==13.3.33
nvidia-nvshmem-cu13==3.4.5
nvidia-nvtx==13.0.85
opencv-python==5.0.0.93
packaging==26.3
pandas==3.0.5
parameterized==0.9.0
pillow==12.3.0
polars==1.44.2
polars-runtime-32==1.44.2
portalocker==4.3.0
prices==1.1.1
protobuf==7.36.1
psutil==7.2.2
pycocoevalcap==1.2
pycocotools==2.0.11
pyparsing==3.3.2
python-dateutil==2.9.0.post0
pytorchvideo==0.1.5
PyYAML==6.0.3
requests==2.34.2
s3transfer==0.19.2
scikit-video==1.1.11
scipy==1.18.1
setuptools==84.0.0
six==1.17.0
SoccerNet==0.1.62
sympy==1.14.0
tabulate==0.10.0
tensorboard==2.21.0
tensorboard-data-server==0.7.2
termcolor==3.3.0
torch==2.14.0
torchaudio==2.11.0
torchcodec==0.16.0
torchvision==0.29.0
tqdm==4.70.0
triton==3.8.0
typing_extensions==4.16.0
ultralytics==8.4.146
ultralytics-platform==0.1.34
ultralytics-thop==2.1.6
urllib3==2.7.0
Werkzeug==3.1.8
yacs==0.1.8
